* {
    box-sizing: border-box;
  }

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    justify-content: space-evenly; 
    align-items: center;
    height: 912px;
    width: 940px;
    border: 1px solid lightgray;
}

.header{
    height: 86px;
    width: 898px;
    border: 1px solid lightgray;
    padding: 20px;
    align-items: center;
    display: flex;
}

.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    height: 608px;
    width: 898px;
}

.side{
    height: 150px;
    width: 160px;
    border: 1px solid lightgray; 
    padding: 0 20px;
}

.content{
    width: 450px;
    height: 608px;
    padding: 0 20px;
    border: 1px solid lightgray;
}

.footer{
    width: 898px;
    height: 53px;
    border: 1px solid lightgray;
    display: flex;
    padding: 0 20px;
    align-items: center;
}